@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the To Do List App</h1>
    
    
</div>
<div class="text-center">
    <p>
        Stay on top of your tasks and manage your time effectively with our user-friendly To-Do List app.
        Whether you're juggling work, school, or personal commitments, our app is here to help you stay organized and productive.
    </p>

   
    <a asp-controller="Tasks" asp-action="Index" asp-route-id="" class="link-button">Get Started</a>
</div>
